@charset "utf-8";
@import url(https://fonts.googleapis.com/earlyaccess/notosansjapanese.css);


.container {
  width: 800px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-height: 100vh;
}

header {
  height: 80px;
}

main {
  flex: 1;
  display: flex;
}

.left {
  flex: 2;
}

.right {
  flex: 1;
}

li {
  padding: 0;
  margin: 0;
}



footer {
  height: 120px;
}

@media screen and (max-width:900px) {
  .container {
    width: 100%;
  }

  main {
    flex-direction: column;
  }



  .right {
    order: -1;
  }
}
