@charset "utf-8";
@import url(https://fonts.googleapis.com/earlyaccess/notosansjapanese.css);

body {
  width: 800px;
  margin: 0 auto;
  min-height: 100vh;
  /* 親：グリッドレイアウト */
  display: grid;
  grid-template: 
    "... ...... ...... ...... ...... ...... ..." 10px
    "... header header header header header ..." 100px
    "... ...... ...... ...... ...... ...... ..." 10px
    "... nav    ...... main   ...... aside  ..." 2fr
    "... ...... ...... ...... ...... ...... ..." 10px
    "... footer footer footer footer footer ..." 150px
    "... ...... ...... ...... ...... ...... ..." 10px
    /10px 150px 10px minmax(300px, 1fr) 10px  200px auto;
}

header {
  /* 子：グリッドレイアウト */
  grid-area: header;
}


nav {
    /* 子：グリッドレイアウト */
    grid-area: nav;
}

main {
    /* 子：グリッドレイアウト */
    grid-area: main;
}

aside {
    /* 子：グリッドレイアウト */
    grid-area: aside;
}

footer {
    /* 子：グリッドレイアウト */
    grid-area: footer;
}

@media screen and (max-width:1000px) {

  body {
    grid-template: 
      "header" 70px
      "main  " 1fr
      "nav   "
      "aside "
      "footer" 50px;
  }

}

